body, html {
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}


body {
  overflow-y: scroll;

}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(./Fonts/Inter-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url(./Fonts/Inter-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('Inter'), url(./Fonts/Inter-SemiBold.ttf) format('truetype');
}