.number {
    color: #FFE600;
}

.document {
    margin: 20px;
}

.document a {
    color: black;
    text-decoration: none;
}

.document a:hover {
    color: rgb(72, 72, 72);
    text-decoration: underline;
}



.stage-title {
    margin: 20px;
    font-size: 22px;
    font-weight: 500;
}

.report-block {
    padding: 20px;
}

.report-block .title{
    font-weight: 500;
    font-size: 22px;
}

.report-block .body {
    padding: 20px 0;
}
