.number {
    color: #FFE600;
}

.stage-title {
    margin: 20px;
    font-size: 22px;
    font-weight: 500;
}

.report-block {
    padding: 20px;
}

.report-block .title{
    font-weight: 500;
    font-size: 22px;
}

.report-block .body {
    padding: 20px 0;
}
